---

---

<div id="Contact" class="mb-20 mt-20 flex w-full flex-col gap-2 bg-boneWhite">
    <h1
        class="w-full p-5 text-center text-6xl uppercase text-laidlawRed lg:p-0"
    >
        Contact Us
    </h1>

    <p
        class="mb-16 self-center p-8 text-left text-xl text-laidlawGrey md:w-3/4 lg:w-1/2"
    >
        We would love to hear from you. If you are an Opera production looking
        for investment, searching for advice on how to keep your productions
        sustainable, or would like to reach out for further information, please
        get in touch at: <span
            class="font-semibold text-laidlawTeal hover:underline"
            ><a href="mailto:kate.roberts@laidlaw.co.uk"
                >kate.roberts@laidlawopera.co.uk</a
            ></span
        >
    </p>
</div>

<style>
    h1 {
        /* font-size: 4rem; */
        font-weight: bold;
        line-height: 1;
        /* text-align: center; */
        margin-bottom: 1rem;
    }
    p {
        margin-bottom: 1rem;
    }
</style>
