---
// i think we will create an MDX pipeline for this. Thoughts?
---

<div id="News" class="flex w-full flex-col gap-2 bg-laidlawRed">
    <h1
        class="mt-8 w-full pl-1 pr-1 text-center text-5xl uppercase text-white lg:mt-14 lg:p-0 lg:text-7xl"
    >
        News
    </h1>
    <p>Todo: complete news components for this</p>
</div>

<style>
    h1 {
        /* font-size: 4rem; */
        font-weight: bold;
        line-height: 1;
        /* text-align: center; */
        margin-bottom: 1rem;
    }
    p {
        margin-bottom: 1rem;
    }
</style>
