---
// tailwind layers in astro
---

<div
    id="Home"
    class=`w-full h-screen bg-[url(../assets/opera_group.webp)] bg-cover bg-center bg-fixed`
>
    <!-- TODO: make this all responsive! -->
    <div
        class="flex h-full w-full flex-col items-center justify-center p-10 backdrop-brightness-[30%] md:items-start"
    >
        <div class="md:ml-20">
            <div class="md:w-5/6">
                <h1
                    class="relative text-center text-5xl font-bold uppercase text-white md:text-left md:text-6xl"
                >
                    Sustaining Accessible Opera
                </h1>
            </div>
            <div class="md:w-3/5">
                <p class="relative text-center text-2xl md:text-left">
                    We invest in Opera companies and houses who are determined
                    to uphold the accessibility and sustainability of the
                    emotional art of Opera
                </p>
            </div>
        </div>
    </div>

    <style>
        h1 {
            /* font-size: 14rem; */
            font-weight: 700;
            line-height: 1;
            /* text-align: center; */
            margin-bottom: 1rem;
        }
        p {
            margin-bottom: 1rem;
        }
    </style>
</div>
