---
import { Image } from "astro:assets";
---

<div id="Grantees" class="flex flex-col w-full bg-laidlawTeal">
	<h1 class="w-full text-center mt-14 text-8xl uppercase text-white">
		Our Grantees
	</h1>
</div>

<style>
	h1 {
		/* font-size: 4rem; */
		font-weight: bold;
		line-height: 1;
		/* text-align: center; */
		margin-bottom: 1rem;
	}
	p {
		margin-bottom: 1rem;
	}
</style>
