---
// tailwind layers in astro
const bigText = "text-white text-[14rem] text-left font-bold relative";
---

<div
	id="Home"
	class=`w-full h-screen bg-[url(../assets/opera_banner.jpg)] bg-cover bg-center`
>
	<div class="w-full h-full backdrop-brightness-[30%] flex justify-between">
		<div
			class="flex flex-col justify-center items-start w-full h-full ml-6"
		>
			<h1 class={bigText}>Laidlaw</h1>
			<h1 class={bigText}>Opera</h1>
			<h1 class={bigText}>Trust</h1>
		</div>

		<div class="flex flex-col justify-center items-end w-2/3 h-full mr-10">
			<p class="text-5xl text-right">
				Championing the accessibility and sustainability of Opera
			</p>
		</div>
	</div>
</div>

<style>
	h1 {
		/* font-size: 14rem; */
		font-weight: 700;
		line-height: 1;
		/* text-align: center; */
		margin-bottom: 1rem;
	}
	p {
		margin-bottom: 1rem;
	}
</style>
