---
// define functions between ---
import "@fontsource/josefin-sans/400.css";
import HeaderGlobal from "../components/Header";
import FooterGlobal from "../components/Footer";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Laidlaw Opera Trust" />
		<!-- define meta data for header -->
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<main class="flex-col h-screen justify-between">
		<HeaderGlobal />
		<body class="mb-auto">
			<!-- slot = the same as {children} in next -->
			<slot />
		</body>
		<FooterGlobal />
	</main>

	<style is:global>
		/* define css style here */
		:root {
			--accent: 136, 58, 234;
			--accent-light: 224, 204, 250;
			--accent-dark: 49, 10, 101;
			--accent-gradient: linear-gradient(
				45deg,
				rgb(var(--accent)),
				rgb(var(--accent-light)) 30%,
				white 60%
			);
		}
		html {
			font-family:
				josefin-sans,
				-apple-system,
				BlinkMacSystemFont,
				"Segoe UI",
				Roboto,
				Oxygen,
				Ubuntu,
				Cantarell,
				"Open Sans",
				"Helvetica Neue",
				sans-serif;
		}
		code {
			font-family:
				Menlo,
				Monaco,
				Lucida Console,
				Liberation Mono,
				DejaVu Sans Mono,
				Bitstream Vera Sans Mono,
				Courier New,
				monospace;
		}
	</style>


</html>
